/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3e9dc;
  font-family: Arial, Helvetica, sans-serif;
} */

.container1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}

.card {
  position: relative;
  height: 200px;
  width: 150px;
  background: rgba(0, 0, 0, 0.45);
  clip-path: path(
    "M 10,20 L  60,20 A 10 10 0,0,0 70,10 L  70,10 A 10 10 0,0,1 80,0 L 140,0 A 10 10 0,0,1 150,10 L 150,190 A 10 10 0,0,1 140,200 L 10,200 A 10 10 0,0,1 0,190 L 0,30 A 10 10 0,0,1 10,20  Z"
  );
  overflow: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card1 {
  position: relative;
  height: 400px;
  width: 300px;
  background: rgba(0, 0, 0, 0.45);

  /* clip-path: path(
    "M 0% 0% L 20% 75% A 40% 15% 0 0 0 20% 90% L 93% 90% L 100% 100% L 100% 0% L 0% 0% Z"
  ); */

  /* clip-path: polygon( 0 0 , 100% 0 , 100% calc(100% - 5vw) , 0 100% ); */

  overflow: hidden;
}

.card1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card1-wrapper {
  overflow: hidden;
  /* clip-path: path("M 0,0 L 0,190 A 60 60 0,0,0 60,220 L 140,220 L 250,220 L 350,220 L 375,250 L 375,0 L 0,0 Z"); */
  /* clip-path: path("M 0% 0% L 0% 76% A 16% 24% 0 0 0 16% 88% L 37.33% 88% L 66.67% 88% L 93.33% 88% L 100% 100% L 100% 0% L 0% 0% Z"); */
  /* clip-path: circle(100% at right top); */
  clip-path: polygon(0 0, 90% 0, 100% 15%, 100% 100%, 0 100%);
}

.card2-wrapper {
  overflow: hidden;

  clip-path: polygon(0 0, 90% 0, 100% 0, 100% 100%, 20% 100%, 0 70%);
}

.card1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
